
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/chessboard.css">
  <script type="text/javascript" src="js/chessboard.js"></script>
  <script type="text/javascript" src="js/MovePieces.js"></script>
</head>
<body>
  <button onclick="SetupBoard()">SetupBoard</button>
  <div class="grid-container">
  <div class="grid-item" draggable="false" ondrag="Drag(event)" ondragstart="DragStart(event)" ondragend="DragEnd(event)"></div>
</div>
<div id="picked-piece" ></div>
</body>
</html>
