
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/chessboard.css">
  <script type="text/javascript" src="js/chessboard.js"></script>
</head>
<body>
  <button onclick="SetupBoard()">SetupBoard</button>
  <div class="grid-container">
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div> 
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>

  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div> 
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>

  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div> 
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>

  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div> 
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>

  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div> 
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>

  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div> 
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>

  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div> 
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>

  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div> 
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
  <div class="grid-item" onmouseover="hover(this)" onmouseout="reset(this)"></div>
</div>
</body>
</html>
