
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/chessboard.css">
  <script type="text/javascript" src="js/ChessBoard.js"></script>
  <script type="text/javascript" src="js/MovePieces.js"></script>
  <script type="text/javascript" src="js/API.js"></script>
</head>
<body>
  <button onclick="SetupBoard()">SetupBoard</button>
  <div class="grid-container">
  <div class="grid-item" onmousedown="DragStart(event)"></div>
  @*(i add 63 more grid-item elements in js)*@
</div>
<div id="picked-piece" ></div>

</body>
<div id="PromotionModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p style="font-size:60px; text-align:center;">Promote to?</p>
    <img src="/Pieces/wR.png" onclick="ModaiSelectPiece(this)">
    <img src="/Pieces/wQ.png"onclick="ModaiSelectPiece(this)">
    <img src="/Pieces/wN.png"onclick="ModaiSelectPiece(this)">
    <img src="/Pieces/wB.png"onclick="ModaiSelectPiece(this)">
  </div>

</div>

</html>
