
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/chessboard.css">
  <script type="text/javascript" src="js/ChessBoard.js"></script>
  <script type="text/javascript" src="js/MovePieces.js"></script>
  <script type="text/javascript" src="js/API.js"></script>
</head>
<body>
  <button onclick="SetupBoard()">SetupBoard</button>
  <div class="grid-container">
  <div class="grid-item" onmousedown="DragStart(event)"></div>
  @*(i add 63 more grid-item elements in js)*@
</div>
<div id="picked-piece" ></div>
</body>
</html>
